<tr>
        <td class="cell c0">
         <input id="user{{id}}" name="user{{id}}" type="checkbox" class="usercheckbox m-1" value="{{id}}" data-action="toggle" data-toggle="slave" data-togglegroup="participants-table" data-initial-value="">
        </td>
        <td class="cell c1" id="user-index-participants-20_r1_c1"> {{username}} </td>
        <td class="cell c2"  id="user-index-participants-20_r1_c2"><span>{{{person_profile_pic}}} </span> <span> {{firstname}} </span></td>
        <td class="cell c3"  id="user-index-participants-20_r1_c3"> {{lastname}} </td>
        <td class="cell c4"  id="user-index-participants-20_r1_c4"> {{email}} </td>
        <td class="cell c5"  id="user-index-participants-20_r1_c5"> {{department}} </td>
        <td class="cell c6"  id="user-index-participants-20_r1_c6"> {{enrolled}} </td>               
        <td class="cell c7"  id="user-index-participants-20_r1_c7"> 
                <i class="icon fa fa-cog fa-fw editthis" ival="{{id}}" title="Edit" role="img" aria-label="Edit"></i> 
                <i class="icon fa fa-trash fa-fw deletethis" ival="{{id}}" title="Delete" role="img" aria-label="Delete"></i>
        </td>
</tr> 