#page-header {
    display: none !important;
}

.catalogue-title {
    font-size: 1.8rem;
}

.accordion .accordion-item {
    border-bottom: 2px solid #f3f3f3;
    margin-bottom: 6px;
}

.accordion .accordion-item .accordion-btn {
    color: #000;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.25s ease;
    box-shadow: none !important;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion .accordion-item .accordion-btn:hover {
    opacity: 0.8;
}

.accordion .accordion-item .accordion-btn .fa {
    opacity: 0.8;
    transition: transform .15s linear;
}

.accordion .accordion-item .accordion-btn.collapsed .fa {
    transform: rotate(180deg);
}

.accordion .accordion-item .accordion-content {
    padding-left: 0.4rem;
    padding-bottom: 0.5rem;
    padding-top: 0.2rem;
    /* max-height: 380px;
    overflow: auto; */
}

.accordion .accordion-content .custom-control {
    margin-bottom: 4px;
}

/* .accordion .accordion-content .custom-control-label::before {
    width: 1.05rem;
    height: 1.05rem;
} */

.accordion .accordion-content .custom-checkbox .custom-control-label::before {
    border-radius: 0.3rem;
}

/* .accordion .accordion-content .custom-control-label::after {
    top: 0.079125rem;
    width: 1.05rem;
    height: 1.05rem;
} */